$c-white: #f9f8f7;

// body / primary
$c-primary: #283044; // gun-metal

// accents / blues
$c-dark-blue: #3E5C76; // deep space sparkle
$c-light-blue: #748CAB; // shadow blue

// off whites
$c-off-white: #F0EBD8; // eggshell
$c-khaki: #BBB193; // Khaki